.logo{
    background: white;
    height: 230px;
    background-image: url("../images/jakes-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
/* Navigation styles */
.nav{
    display: flex;
    background-color: black;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.left .right .center{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.left .right{
    width: 25%;
}
.center a{
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
button{
    color: black;
    font-size: 16px;
    padding: 16px;
    width: 100%;
}

.right button{
    background-color: yellow;
}
.left button{
    background-color: skyblue;
}

/* Column styles */
.column {
    display: flex;
    height: 100%;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}

.meal1, .meal2, .meal3 {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.meal1{
    margin-top: 20px;
    background-image: url("../images/steak.png");


}
.meal2{
    margin-top: 20px;
    background-image: url("../images/soup.png");

}
.meal3{
    margin-top: 20px;
    background-image: url("../images/cheesecake.png");

}
.text{
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 10px 40px;
    color: white;
}
.text p{
    color: rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
}
.text h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Styles */
.footer{
    display: flex;
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
}

.footer a{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.fb{
    color: skyblue;
}
.ig{
    color: red;
}
.tw{
    color: yellow;
}